@font-face {
  font-family: myfirstfont ;
  src: url("Pink\ Line.otf");
}

.big-shoulders-stencil-<uniquifier> {
  font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


html {
  height: 100%;
  width: 100%;
}
body {
  font-family: myfirstfont;
}
.little {
  width: 100px;
}
#big {
  width: 500px;
}
.part1 {
  color: red;
  font-family: "Big Shoulders Stencil", sans-serif;
}

.part2 {
  color: blue;
  font-family:myfirstfont;
}

.part3 {
  color: green;
  font-family:myfirstfont;
}


